streamlit
pillow
numpy
opencv-python-headless==4.8.1.78
torch==2.1.0+cpu
torchvision==0.16.0+cpu
transformers
diffusers
accelerate
safetensors
ftfy
einops
streamlit-drawable-canvas
# git+https://github.com/facebookresearch/segment-anything.git@main  # optional, comment out

